{% extends "base.jinja" %}

{% block contenu %}
<header>
    <h1>Binette Book</h1>
</header>

<main>
    <ul>
{% for u in utilisateurs %}
        <li>
            <a href="/mur/{{u.id_utilisateur}}">{{u.nom}}</a>
        </li>
{% endfor %}
    </ul>
</main>
{% endblock %}